<!-- Header -->
<div class="top_nav">
  <div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            {% if app.session.get('ParsimonyScore_lang') != null %}
                {{ app.session.get('ParsimonyScore_lang') }}
            {% else %}
                FR
            {% endif %}
            <span class=" fa fa-angle-down"></span>
          </a>

          {% if app.user  %}
            {% include '::modulesUsed/header_options/notification.html.twig' %}
          {% endif %}

          <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="{{ path('pages_index') }}?lang=FR">FR</a></li>
            <li><a href="{{ path('pages_index') }}?lang=EN">EN</a></li>
          </ul>
        </li>
      </ul>
               
    </nav>
  </div>
</div>