{% extends "::base.html.twig" %}

 {% block body %}
	 <div class="container">
		<div class="row">
			<div class="span9">
				<div class="row">
					Liste des Sequences From db...

				</div>
			</div>
		</div>
	</div>
{% endblock %}
