	 
	  <!-- div to show file content -->
	  <div id="fileContent" style="display:none"> 
	    <div class="col-md-12 col-sm-12 col-xs-12" >
	      <textarea id="fileContent_data" rows="10" class="form-control" target="_blank" readonly>#my_data#</textarea>
	      <button type="button" id="fileContent_download" onclick="#download#" class="btn btn-primary" style="margin-top:5px"></button>
	      <button type="button" id="fileContent_close" onclick="#close#" class="btn btn-primary" style="margin-top:5px"></button>
	    </div>
	  </div>

                  
    <!-- Modal  compare a score -->
    <div id="compScore" class="compare_modal modal fade" role="dialog" style="display:none">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content modal-lg">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="compScore_title" >Compare</h4>
          </div>
          <div class="modal-body">
          	<div class="row">

                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab_compare"  role="tab" data-toggle="tab" aria-expanded="true">Table</a></li>
                    <li role="presentation" class=""><a href="#plot_compare" role="tab" data-toggle="tab" aria-expanded="false">Plot</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="tab_compare" aria-labelledby="home-tab">
						<center><img id="compScore_lod" src="{{ asset('img/lod.gif') }}" width="150"/> </center>
						<table class="table table-striped table-bordered" id="table_compare" style="display:none" >
							<thead>
								<tr>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								<th></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="plot_compare" aria-labelledby="profile-tab" style="height:550px" >
                    	<center><div id="compare_plot" style="width:1000px; height:500px"></div></center>
                    </div>
                  </div>
                </div>
            </div>
          </div>
            
          </div>
        </div>
    </div>
     <!-- end modal -->