{% extends "::base.html.twig" %}

{% block body %}

 <div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12" id="about" >
		<div class="x_panel">
		  <div class="x_title">
			<h2 id="about_title"></h2>
			<div class="clearfix"></div>
		  </div>
		  <div class="x_content">
			<p id="about_text"></p>
			<small id="about_devloppers"></small>
		  </div>
		</div>
	</div>
 </div>

{% endblock %}