              <div class="col-md-12 col-sm-12 col-xs-12" id="AlgoInfo">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-info"></i> Algorithms information</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">


                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#AlgoInfo_K"  role="tab" data-toggle="tab" aria-expanded="true">K</a></li>
                        <li role="presentation" class=""><a href="#AlgoInfo_L" role="tab" data-toggle="tab" aria-expanded="false">L</a></li>
                        <li role="presentation" class=""><a href="#AlgoInfo_R" role="tab" data-toggle="tab" aria-expanded="false">R</a></li>
                        <li role="presentation" class=""><a href="#AlgoInfo_N" role="tab" data-toggle="tab" aria-expanded="false">N</a></li>
                        <li role="presentation" class=""><a href="#AlgoInfo_G" role="tab" data-toggle="tab" aria-expanded="false">G</a></li>
                        <li role="presentation" class=""><a href="#AlgoInfo_B" role="tab" data-toggle="tab" aria-expanded="false">B</a></li>
                        <li role="presentation" class=""><a href="#AlgoInfo_S" role="tab" data-toggle="tab" aria-expanded="false">S</a></li>
                        <li role="presentation" class=""><a href="#AlgoInfo_RN" role="tab" data-toggle="tab" aria-expanded="false">RN</a></li>
                        <li role="presentation" class=""><a href="#AlgoInfo_RG" role="tab" data-toggle="tab" aria-expanded="false">RG</a></li>
                        <li role="presentation" class=""><a href="#AlgoInfo_RB" role="tab" data-toggle="tab" aria-expanded="false">RB</a></li>
                        <li role="presentation" class=""><a href="#AlgoInfo_NB" role="tab" data-toggle="tab" aria-expanded="false">NB</a></li>
                        <li role="presentation" class=""><a href="#AlgoInfo_NG" role="tab" data-toggle="tab" aria-expanded="false">NG</a></li>
                        <li role="presentation" class=""><a href="#AlgoInfo_GB" role="tab" data-toggle="tab" aria-expanded="false">GB</a></li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="AlgoInfo_K" aria-labelledby="home-tab"></div>
                        <div role="tabpanel" class="tab-pane fade" id="AlgoInfo_L" aria-labelledby="profile-tab"></div>
                        <div role="tabpanel" class="tab-pane fade" id="AlgoInfo_R" aria-labelledby="profile-tab"></div>
                        <div role="tabpanel" class="tab-pane fade" id="AlgoInfo_N" aria-labelledby="profile-tab"></div>
                        <div role="tabpanel" class="tab-pane fade" id="AlgoInfo_G" aria-labelledby="profile-tab"></div>
                        <div role="tabpanel" class="tab-pane fade" id="AlgoInfo_B" aria-labelledby="profile-tab"></div>
                        <div role="tabpanel" class="tab-pane fade" id="AlgoInfo_S" aria-labelledby="profile-tab"></div>
                        <div role="tabpanel" class="tab-pane fade" id="AlgoInfo_RN" aria-labelledby="profile-tab"></div>
                        <div role="tabpanel" class="tab-pane fade" id="AlgoInfo_RG" aria-labelledby="profile-tab"></div>
                        <div role="tabpanel" class="tab-pane fade" id="AlgoInfo_RB" aria-labelledby="profile-tab"></div>
                        <div role="tabpanel" class="tab-pane fade" id="AlgoInfo_NB" aria-labelledby="profile-tab"></div>
                        <div role="tabpanel" class="tab-pane fade" id="AlgoInfo_NG" aria-labelledby="profile-tab"></div>
                        <div role="tabpanel" class="tab-pane fade" id="AlgoInfo_GB" aria-labelledby="profile-tab"></div>
                      </div>
                    </div>

                  </div>
                </div>