{% extends "PagesBundle:Default:index.html.twig" %}

{% block body %}
  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

	 
      <div class="login_wrapper" style="margin-top:0%">
        <div class="animate form login_form">
          <section class="login_content">
				{% for message in app.session.flashbag.get('error') %}
					<div class="alert alert-danger alert-dismissable">
						<p>{{ message }}</p>
					</div>
				{% endfor %}
            <form id="loginForm" action="" method="POST">
              <h1 id="loginForm_title"></h1>
              <div>
                <input type="text" class="form-control" id="username" name="login" required="" />
              </div>
              <div>
                <input type="password" class="form-control" id="password" name="mp" required="" />
              </div>
			  <div align="left">
				<label>
                    <input name="keep" value="1" type="checkbox"> <span id="loginForm_keep" ></span>
                 </label>
			  </div>
              <div align="center">
                <button type="submit" class="btn btn-default submit" id="loginForm_submit" ></button>
              </div>

              <div class="clearfix"></div>
			<div>
			  <h1><i class="fa fa-tree"></i> <span>ParsimonyScore</span><br/>
			  <p id="id_footer" style="font-size: 12pt;margin-top: 6px;"></p>
			</div>
            </form>
          </section>
        </div>

      </div>
    </div>
  </body>
  
{% endblock %}