<li role="presentation" class="dropdown">
  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
    <i class="fa fa-envelope-o"></i>
    <span class="badge bg-green" id="msgCount"></span>
  </a>
  <ul id="msg" class="dropdown-menu list-unstyled msg_list" role="menu">  
    <li>
      <div class="text-center">
        <a href="{{ path('admin_messages') }}">
          <strong id="id_allMsg">See all messages</strong>
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </li>
  </ul>
</li>

<div id="msg_example" style="display:none">
	<li>
		  <a href="{{ path('admin_message') }}?id=#id#">
			<span class="image"><img src="{{ asset('img/') }}#img#" /></span>
			<span>
			  <span>#email#</span>
			  <span class="time" style="font-size:8px;margin-right: -20px;">#time#</span>
			</span>
			<span class="message">
				#message#
			</span>
		  </a>
	</li>
</div>